/*index*/

.container {
  margin: auto; 
  overflow: hidden;
  width: 80%;
  position: relative; /* Add relative positioning to the container */
}

.search-form {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  margin: 20px 0; /* Adjust vertical margin */
}

.saved-movies-heading {
  margin-top: 40px; /* Add margin top to create space below search bar and sort functions */
}

.select-container {
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.movie-list {
  list-style: none; /* Remove default list styles */
}

.movie-item {
  margin-bottom: 20px; /* Add margin between movie items */
}

.movie-container {
  display: flex;
}

.poster {
  flex: 1; /* Take up 50% of the container */
  margin-right: 20px; /* Adjust as needed */
}

.poster img {
  max-width: 100%; /* Ensure image fits container */
}

.movie-info {
  flex: 2; /* Take up 50% of the container */
  display: flex;
  flex-direction: column;
}


/*results*/


/*info*/

